#relationPanel{
    display: none;
	padding: 0;
	border-bottom: 1px solid #EFEFEF;

    .panel-default{
        margin: 0;
    }

    .panel{
        border: 0;
    }

    .panel-heading{
        padding: 5px;
    }
}
