.role{
    .panel-default{
        margin-top: 0;
    }

    .panel-body{
        padding: 0;
    }

    .table{
        margin-bottom: 0;
    }

    .rolePanel{

        select{
            height: 450px;
        }
    }


}
