
<!--搜索区域-->
<div class="search-box">

</div>

<!--按钮区域-->
<div class="button-box text-right">
    <button type="button" class="btn btn-primary" (click)="showAddPanel()"><span class="fa fa-plus-circle"></span> 新增</button>
</div>

<!--数据显示区域-->
<div class="table-box">
    <table class="table table-bordered table-hover">
        <thead>
            <tr class="active">
                <th>用户名</th>
                <th>登录名</th>
                <th>手机号</th>
                <th>角色</th>
                <th>创建时间</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of httpService.items">
                <td>{{item.userName}}</td>
                <td>{{item.loginName}}</td>
                <td>{{item.mobile}}</td>
                <td>{{item.roleName}}</td>
                <td>{{utils.formatDate(item.createTime,'yyyy-MM-dd HH:mm:ss')}}</td>
                <td>{{utils.formatState(item.state)}}</td>
                <td>
                    <button type="button" (click)="showEditPanel(item)" class="btn btn-info btn-xs">编辑</button>
                    <button type="button" (click)="deleteItem(item)" class="btn btn-danger btn-xs">删除</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!--分页区域-->
<div class="pagination-box text-center">
    <ul class="pagination">
        <li [class]="httpService.currentPage==1?'active':''">
            <a href="javascript:;" (click)="httpService.toFirstPage()">首页</a>
        </li>
        <li [class]="httpService.currentPage==1?'disabled':''">
            <a href="javascript:;"  (click)="httpService.prev()">上一页</a>
        </li>
        <li class="disabled"><a href="javascript:;">第{{httpService.currentPage}}页 | 共{{httpService.totalPage}}页</a></li>
        <li [class]="httpService.currentPage==httpService.totalPage?'disabled':''">
            <a href="javascript:;" (click)="httpService.next()">下一页</a>
        </li>
        <li [class]="httpService.currentPage==httpService.totalPage?'active':''">
            <a href="javascript:;" (click)="httpService.toEndPage()">末页</a>
        </li>
    </ul>
</div>

<!--新增页面-->
<div id="editPanel" class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-4 control-label"><span class="text-danger">*</span>&nbsp;用户名</label>
        <div class="col-sm-8">
            <input type="text" [disabled]="isEdit" class="form-control" id="userName" [(ngModel)]="subData.userName" placeholder="请输入用户名"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label"><span class="text-danger">*</span>&nbsp;登录名</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="loginName" [(ngModel)]="subData.loginName" placeholder="请输入登录名"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label"><span class="text-danger">*</span>&nbsp;密码</label>
        <div class="col-sm-8">
            <input type="text" [disabled]="isEdit" class="form-control" id="password" [(ngModel)]="subData.password" placeholder="请输入参数中文名"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">&nbsp;手机号</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="mobile" [(ngModel)]="subData.mobile" placeholder="请输入手机号"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">&nbsp;角色</label>
        <div class="col-sm-8">
            <label class="radio-inline" *ngFor="let opt of roles">
                <input type="radio" name="roleId" (change)="setRole(opt)" value="{{opt.id}}" [(ngModel)]="subData.roleId">{{opt.roleName}}
            </label>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label">&nbsp;状态</label>
        <div class="col-sm-8">
            <label class="radio-inline">
                <input type="radio" name="state" value="10" [(ngModel)]="subData.state">正常
            </label>
            <label class="radio-inline">
                <input type="radio" name="state" value="20" [(ngModel)]="subData.state">禁用
            </label>
        </div>
    </div>
</div>
